.Breadcrumbs
    .Breadcrumbs-Wrapper
        .Breadcrumbs-Parent root
        .Breadcrumbs-Parent trunk
        .Breadcrumbs-Parent arcadia
        .Breadcrumbs-Parent addapter
        .Breadcrumbs-Current arcadia