.main-title.main-title_commit
    .main-title__additional
        a.back.main-title__back Back
        a.show
            .show__icon
                svg.icon.icon_hamburger
                    use(xlink:href="../images/icons-sprite.svg#hamburger")
            .show__text Show files at r4318347

    .main-title__main
        .main-title__commit-title DEVTOOLS-4599: Add option to add extra whitespace between projects          
        .main-title__commit-info
            span.link.link_color_accent c4d248 
            span.link.link_user.link_committer robot-search-releaser
            | 4 s ago