.Main-title.Main-title_commit
    .Main-title-Additional
        a.Back.Main-title-Back Back
        a.Show
            .Show-Icon
                svg.Icon.Icon_hamburger
                    use(xlink:href="images/icons-sprite.svg#hamburger")
            .Show-Text Show files at r4318347

    .Main-title-Main
        .Main-title-Commit-title DEVTOOLS-4599: Add option to add extra whitespace between projects          
        .Main-title-Commit-info
            span.Link.Link_color_accent c4d248 
            span.Link.Link_user.Link_committer robot-search-releaser
            | 4 s ago
            