.Commit-content.File-content 
    .Commit-content-Head.File-content-Head
        .Commit-content-Main
            span.Commit-content-Letter M

            .Icon-plus.Commit-content-File-path
                .Icon-plus-Icon 
                    svg.Icon.Icon_file.Icon_faded
                        use(xlink:href="images/icons-sprite.svg#file")
                .Icon-plus-Text.Commit-content-Path /trunk/arcadia/devtools/intellij/src/main/java/ru/yandex/devtools/intellij/arc/client/ArcCli.Java 

        .Commit-content-Details
            .Commit-content-Add-num +100
            .Commit-content-Del-num -81

            .Commit-content-Gow-to
                svg.Icon.Icon_download
                    use(xlink:href="images/icons-sprite.svg#gow-to")

    .Info-panel.Commit-content-Info-panel
        .Info-panel-Text 
            .Info-panel-Text-item @@ 
            .Info-panel-Text-item -270, 160 
            .Info-panel-Text-item +270, 161 
            .Info-panel-Text-item @@
        .Info-panel-Scroll
            .Scroll-item Below 20 lines
            .Scroll-item.Scroll-item_above.Scroll-item_state_active Above 20 lines

    .File-content-Content
        .File-content-Row
            .File-content-Col.File-content-Row-num 1
            .File-content-Col.File-content-Row-num 1
            .File-content-Col.File-content-Row-content package ru.Yandex.Devtools.Intellij.Arc.Client;

        .File-content-Row
            .File-content-Col.File-content-Row-num 2
            .File-content-Col.File-content-Row-num 2


        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 3
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | java.Util.ArrayList;

        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 4
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | java.Util.Collection;

        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num
            .File-content-Col.File-content-Row-num 5
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | java.Util.List;

        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 6

        .File-content-Row
            .File-content-Col.File-content-Row-num 3
            .File-content-Col.File-content-Row-num 7
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | com.Intellij.Openapi.Diagnostic.Logger;

        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 8
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | com.Intellij.Openapi.Diagnostic.Logger;

        .File-content-Row
            .File-content-Col.File-content-Row-num 4
            .File-content-Col.File-content-Row-num 9
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | import com.Intellij.Openapi.Vcs.FilePath;

        .File-content-Row
            .File-content-Col.File-content-Row-num 5
            .File-content-Col.File-content-Row-num 10
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | import com.Intellij.Openapi.Vcs.VcsException;

        .File-content-Row
            .File-content-Col.File-content-Row-num 6
            .File-content-Col.File-content-Row-num 11
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | import com.Intellij.Openapi.Vfs.VirtualFile;

        .File-content-Row
            .File-content-Col.File-content-Row-num 7
            .File-content-Col.File-content-Row-num 12
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | import com.Intellij.VcsUtil.VcsUtil;

        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 13
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | org.Jetbrains.Annotations.NotNull;

        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 14

        .File-content-Row
            .File-content-Col.File-content-Row-num 8
            .File-content-Col.File-content-Row-num 15
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | ru.Yandex.Devtools.Intellij.Arc.ArcContext;

        .File-content-Row
            .File-content-Col.File-content-Row-num 9
            .File-content-Col.File-content-Row-num 16
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | ru.Yandex.Devtools.Intellij.Arc.ArcRevisionNumber;

        .File-content-Row
            .File-content-Col.File-content-Row-num 10
            .File-content-Col.File-content-Row-num 17
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | ru.Yandex.Devtools.Intellij.Arc.ArcStatus;

        .File-content-Row.Commit-content_color_added
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 18
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | ru.Yandex.Devtools.Intellij.Arc.Ui.ArcResetDialog;

        .File-content-Row
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-num 19

        .File-content-Row
            .File-content-Col.File-content-Row-num 9
            .File-content-Col.File-content-Row-num 16
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | ru.Yandex.Devtools.Intellij.Arc.ArcRevisionNumber;

        .File-content-Row
            .File-content-Col.File-content-Row-num 10
            .File-content-Col.File-content-Row-num 17
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | ru.Yandex.Devtools.Intellij.Arc.ArcStatus;

        .File-content-Row.Commit-content_color_deleted
            .File-content-Col.File-content-Row-num 12
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | java.Util.ArrayList;

        .File-content-Row.Commit-content_color_deleted
            .File-content-Col.File-content-Row-num 13
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | java.Util.Collection;

        .File-content-Row.Commit-content_color_deleted
            .File-content-Col.File-content-Row-num 14
            .File-content-Col.File-content-Row-num 
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent import 
                | java.Util.List;

        .File-content-Row.Commit-content_color_deleted
            .File-content-Col.File-content-Row-num 15
            .File-content-Col.File-content-Row-num 

        .File-content-Row
            .File-content-Col.File-content-Row-num 16
            .File-content-Col.File-content-Row-num 20
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_author /**

        .File-content-Row
            .File-content-Col.File-content-Row-num 17
            .File-content-Col.File-content-Row-num 21
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_author * @author Dmitry Andreev <a href="mailto:AndreevDm@yandex-team.Ru"></a>

        .File-content-Row
            .File-content-Col.File-content-Row-num 18
            .File-content-Col.File-content-Row-num 22
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_author * @date 11/10/2018

        .File-content-Row
            .File-content-Col.File-content-Row-num 19
            .File-content-Col.File-content-Row-num 23
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_author */

        .File-content-Row
            .File-content-Col.File-content-Row-num 20
            .File-content-Col.File-content-Row-num 24
            .File-content-Col.File-content-Row-content
                span.Text.Text_color_accent public 
                span.Text.Text_color_type ArcCli
                |(
                span.Text.Text_color_type String 
                | arcBinaryPath) {

        .File-content-Row
            .File-content-Col.File-content-Row-num 21
            .File-content-Col.File-content-Row-num 25
            .File-content-Col.File-content-Col_p_l_1.File-content-Row-content this.ArcBinaryPath = arcBinaryPath;

        .File-content-Row
            .File-content-Col.File-content-Row-num 21
            .File-content-Col.File-content-Row-num 25
            .File-content-Col.File-content-Row-content }

    .Info-panel.Info-panel_bottom.Commit-content-Info-panel
        .Info-panel-Text 
            .Info-panel-Text-item @@ 
            .Info-panel-Text-item -270, 160 
            .Info-panel-Text-item +270, 161 
            .Info-panel-Text-item @@
        .Info-panel-Scroll
            .Scroll-item Below 20 lines
            .Scroll-item.Scroll-item_above.Scroll-item_state_active Above 20 lines




        













