.commit-title
    .commit-title__title DEVTOOLS-4599: Add option to add extra whitespace between projects        
    .commit-title__info
        span.link.link_color_accent c4d248 
        | by 
        span.link.link_user robot-search-releaser
        | 4 s ago
