.commit-content.file-content 
    .commit-content__head.file-content__head
        .commit-content__main
            span.commit-content__letter M

            .icon-plus.commit-content__file-path
                .icon-plus__icon 
                    svg.icon.icon_file.icon_faded
                        use(xlink:href="../images/icons-sprite.svg#file")
                .icon-plus__text.commit-content__path /trunk/arcadia/devtools/intellij/src/main/java/ru/yandex/devtools/intellij/arc/client/ArcCli.java 

        .commit-content__details
            .commit-content__add-num +100
            .commit-content__del-num -81

            .commit-content__gow-to
                svg.icon.icon_download
                    use(xlink:href="../images/icons-sprite.svg#gow-to")

    .info-panel.commit-content__info-panel
        .info-panel__text 
            .info-panel__text-item @@ 
            .info-panel__text-item -270, 160 
            .info-panel__text-item +270, 161 
            .info-panel__text-item @@
        .info-panel__scroll
            .scroll-item Below 20 lines
            .scroll-item.scroll-item_above.scroll-item_state_active Above 20 lines

    .file-content__content
        .file-content__row
            .file-content__col.file-content__row-num 1
            .file-content__col.file-content__row-num 1
            .file-content__col.file-content__row-content package ru.yandex.devtools.intellij.arc.client;

        .file-content__row
            .file-content__col.file-content__row-num 2
            .file-content__col.file-content__row-num 2


        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 3
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | java.util.ArrayList;

        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 4
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | java.util.Collection;

        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num
            .file-content__col.file-content__row-num 5
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | java.util.List;

        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 6

        .file-content__row
            .file-content__col.file-content__row-num 3
            .file-content__col.file-content__row-num 7
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | com.intellij.openapi.diagnostic.Logger;

        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 8
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | com.intellij.openapi.diagnostic.Logger;

        .file-content__row
            .file-content__col.file-content__row-num 4
            .file-content__col.file-content__row-num 9
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | import com.intellij.openapi.vcs.FilePath;

        .file-content__row
            .file-content__col.file-content__row-num 5
            .file-content__col.file-content__row-num 10
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | import com.intellij.openapi.vcs.VcsException;

        .file-content__row
            .file-content__col.file-content__row-num 6
            .file-content__col.file-content__row-num 11
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | import com.intellij.openapi.vfs.VirtualFile;

        .file-content__row
            .file-content__col.file-content__row-num 7
            .file-content__col.file-content__row-num 12
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | import com.intellij.vcsUtil.VcsUtil;

        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 13
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | org.jetbrains.annotations.NotNull;

        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 14

        .file-content__row
            .file-content__col.file-content__row-num 8
            .file-content__col.file-content__row-num 15
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | ru.yandex.devtools.intellij.arc.ArcContext;

        .file-content__row
            .file-content__col.file-content__row-num 9
            .file-content__col.file-content__row-num 16
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | ru.yandex.devtools.intellij.arc.ArcRevisionNumber;

        .file-content__row
            .file-content__col.file-content__row-num 10
            .file-content__col.file-content__row-num 17
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | ru.yandex.devtools.intellij.arc.ArcStatus;

        .file-content__row.commit-content_color_added
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 18
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | ru.yandex.devtools.intellij.arc.ui.ArcResetDialog;

        .file-content__row
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-num 19

        .file-content__row
            .file-content__col.file-content__row-num 9
            .file-content__col.file-content__row-num 16
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | ru.yandex.devtools.intellij.arc.ArcRevisionNumber;

        .file-content__row
            .file-content__col.file-content__row-num 10
            .file-content__col.file-content__row-num 17
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | ru.yandex.devtools.intellij.arc.ArcStatus;

        .file-content__row.commit-content_color_deleted
            .file-content__col.file-content__row-num 12
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | java.util.ArrayList;

        .file-content__row.commit-content_color_deleted
            .file-content__col.file-content__row-num 13
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | java.util.Collection;

        .file-content__row.commit-content_color_deleted
            .file-content__col.file-content__row-num 14
            .file-content__col.file-content__row-num 
            .file-content__col.file-content__row-content
                span.text.text_color_accent import 
                | java.util.List;

        .file-content__row.commit-content_color_deleted
            .file-content__col.file-content__row-num 15
            .file-content__col.file-content__row-num 

        .file-content__row
            .file-content__col.file-content__row-num 16
            .file-content__col.file-content__row-num 20
            .file-content__col.file-content__row-content
                span.text.text_color_author /**

        .file-content__row
            .file-content__col.file-content__row-num 17
            .file-content__col.file-content__row-num 21
            .file-content__col.file-content__row-content
                span.text.text_color_author * @author Dmitry Andreev <a href="mailto:AndreevDm@yandex-team.ru"></a>

        .file-content__row
            .file-content__col.file-content__row-num 18
            .file-content__col.file-content__row-num 22
            .file-content__col.file-content__row-content
                span.text.text_color_author * @date 11/10/2018

        .file-content__row
            .file-content__col.file-content__row-num 19
            .file-content__col.file-content__row-num 23
            .file-content__col.file-content__row-content
                span.text.text_color_author */

        .file-content__row
            .file-content__col.file-content__row-num 20
            .file-content__col.file-content__row-num 24
            .file-content__col.file-content__row-content
                span.text.text_color_accent public 
                span.text.text_color_type ArcCli
                |(
                span.text.text_color_type String 
                | arcBinaryPath) {

        .file-content__row
            .file-content__col.file-content__row-num 21
            .file-content__col.file-content__row-num 25
            .file-content__col.file-content__col_p_l_1.file-content__row-content this.arcBinaryPath = arcBinaryPath;

        .file-content__row
            .file-content__col.file-content__row-num 21
            .file-content__col.file-content__row-num 25
            .file-content__col.file-content__row-content }

    .info-panel.info-panel_bottom.commit-content__info-panel
        .info-panel__text 
            .info-panel__text-item @@ 
            .info-panel__text-item -270, 160 
            .info-panel__text-item +270, 161 
            .info-panel__text-item @@
        .info-panel__scroll
            .scroll-item Below 20 lines
            .scroll-item.scroll-item_above.scroll-item_state_active Above 20 lines




        













