.content-table
    .content-table__row.content-table__head
        .content-table__col Name
        .content-table__col.content-table__col_last Commit Hash

    .content-table__row
        .content-table__col.content-table__col_name.icon-plus
            .icon-plus__icon 
                svg.icon.icon_branch
                    use(xlink:href="../images/icons-sprite.svg#branch")
            .icon-plus__text users/a-aidyn00/my-feature-2
        .content-table__col.content-table__col_last 
            span.link.link_color_accent 6748ds893432438dsd823329d923482d

    - for (var x = 0; x < 20; x++)
        .content-table__row
            .content-table__col.content-table__col_name.icon-plus
                .icon-plus__icon 
                    svg.icon.icon_branch
                        use(xlink:href="../images/icons-sprite.svg#branch")
                .icon-plus__text users/a-aidyn00/my-feature-3
            .content-table__col.content-table__col_last 
                span.link.link_color_accent 8748ds893432438dsd823329d923482d



    


