.Structure
    .Structure-Item.Structure-Item_hot  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text api 
    
    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text ci 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text contrib 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text http 

    .Structure-Item.Structure-Item_hot  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text lib
    
    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text local 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text packages 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text robots 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text server

    .Structure-Item.Structure-Item_hot  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text ut

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text arcanum

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text repository

    .Structure-Item.Structure-Item_hot
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text arcanum

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text repository

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_file
                    use(xlink:href="../images/icons-sprite.svg#file")
            .Icon-plus-Text ya.Make
