.Structure
    .Structure-Item.Structure-Item_hot  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name api 
    
    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name ci 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name contrib 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name http 

    .Structure-Item.Structure-Item_hot  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name lib
    
    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name local 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name packages 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name robots 

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name server

    .Structure-Item.Structure-Item_hot  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name ut

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name arcanum

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name repository

    .Structure-Item.Structure-Item_hot
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name arcanum

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="../images/icons-sprite.svg#folder")
            .Icon-plus-Text.Folder-content-Name repository

    .Structure-Item  
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_file
                    use(xlink:href="../images/icons-sprite.svg#file")
            .Icon-plus-Text.Folder-content-Name ya.Make
