.Content-table
    .Content-table-Row.Content-table-Head
        .Content-table-Col Name
        .Content-table-Col Last commit
        .Content-table-Col Commit message
        .Content-table-Col Committer
        .Content-table-Col.Content-table-Col_last Updates

    .Content-table-Row
        .Content-table-Col.Content-table-Col_name.Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_folder
                    use(xlink:href="images/icons-sprite.svg#folder")
            .Icon-plus-Text api
        .Content-table-Col.Content-table-Col_commit
            span.Link.Link_color_accent d53dsv
        .Content-table-Col.Content-table-Col_message [vcs] move http to arc
        .Content-table-Col.Content-table-Col_committer 
            span.Link.Link_user noxoomo
        .Content-table-Col.Content-table-Col_updated.Content-table-Col_last 4 s ago

    - for (var x = 0; x < 10; x++)
        .Content-table-Row
            .Content-table-Col.Content-table-Col_name.Icon-plus
                .Icon-plus-Icon 
                    svg.Icon.Icon_folder
                        use(xlink:href="images/icons-sprite.svg#folder")
                .Icon-plus-Text ci
            .Content-table-Col.Content-table-Col_commit
                span.Link.Link_color_accent f5jdsv
            .Content-table-Col.Content-table-Col_message 
                span.Link.Link_color_accent ARCADIA-771:  
                | append /trunk/arcadia/
            .Content-table-Col.Content-table-Col_committer 
                span.Link.Link_user annaveronika
            .Content-table-Col.Content-table-Col_updated.Content-table-Col_last Dec 29, 2018

    - for (var x = 0; x < 10; x++)
        .Content-table-Row
            .Content-table-Col.Content-table-Col_name.Icon-plus
                .Icon-plus-Icon 
                    svg.Icon.Icon_folder
                        use(xlink:href="images/icons-sprite.svg#folder")
                .Icon-plus-Text lib
            .Content-table-Col.Content-table-Col_commit
                span.Link.Link_color_accent d53dsv
            .Content-table-Col.Content-table-Col_message [vcs] move http to arc
            .Content-table-Col.Content-table-Col_committer 
                span.Link.Link_user noxoomo
            .Content-table-Col.Content-table-Col_updated.Content-table-Col_last 4 s ago