.Content-table
    .Content-table-Row.Content-table-Head
        .Content-table-Col Name
        .Content-table-Col.Content-table-Col_last Commit Hash

    .Content-table-Row
        .Content-table-Col.Content-table-Col_name.Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_branch
                    use(xlink:href="../images/icons-sprite.Svg#branch")
            .Icon-plus-Text users/a-aidyn00/my-feature-2
        .Content-table-Col.Content-table-Col_last 
            span.Link.Link_color_accent 6748ds893432438dsd823329d923482d

    - for (var x = 0; x < 20; x++)
        .Content-table-Row
            .Content-table-Col.Content-table-Col_name.Icon-plus
                .Icon-plus-Icon 
                    svg.Icon.Icon_branch
                        use(xlink:href="../images/icons-sprite.Svg#branch")
                .Icon-plus-Text users/a-aidyn00/my-feature-3
            .Content-table-Col.Content-table-Col_last 
                span.Link.Link_color_accent 8748ds893432438dsd823329d923482d



    


