.File-content 
    .File-content-Head
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_file
                    use(xlink:href="../images/icons-sprite.Svg#file")
            .Icon-plus-Text.File-content-Name ya.Make 
        .File-content-Size (4 347 bytes)
        .File-content-Download
            svg.Icon.Icon_download
                use(xlink:href="../images/icons-sprite.Svg#download")

    .File-content-Content
        .File-content-Row
            .File-content-Col.File-content-Row-num 1
            .File-content-Col.File-content-Row-content 
                span.Text_comment #!/usr/bin/env python

        .File-content-Row
            .File-content-Col.File-content-Row-num 2
            .File-content-Col.File-content-Row-content 
                strong import 
                | os

        .File-content-Row
            .File-content-Col.File-content-Row-num 3
            .File-content-Col.File-content-Row-content
                strong import 
                | sys

        .File-content-Row
            .File-content-Col.File-content-Row-num 4
            .File-content-Col.File-content-Row-content
                strong import 
                | platform

        .File-content-Row
            .File-content-Col.File-content-Row-num 5
            .File-content-Col.File-content-Row-content
                strong import 
                | json

        .File-content-Row
            .File-content-Col.File-content-Row-num 6

        .File-content-Row
            .File-content-Col.File-content-Row-num 7
            .File-content-Col.File-content-Row-content
                | URLS = [ 
                span.Link.Link_color_accent_dark 'https://proxy.Sandbox.Yandex-team.Ru/453818264'
                | , 
                span.Link.Link_color_accent_dark 'http://storage-int.Mds.Yandex.Net/get-sandbox/110738/by_platform.Json.453815347' 
                |  ]

        .File-content-Row
            .File-content-Col.File-content-Row-num 8
            .File-content-Col.File-content-Row-content
                | MD5 =  
                span.Link.Link_color_accent_dark '7f5a85f9c28d35c3a76d8cea7af51106'

        .File-content-Row
            .File-content-Col.File-content-Row-num 9

        .File-content-Row
            .File-content-Col.File-content-Row-num 10
            .File-content-Col.File-content-Row-content RETRIES = 5

        .File-content-Row
            .File-content-Col.File-content-Row-num 11
            .File-content-Col.File-content-Row-content HASH_PREFIX = 10

        .File-content-Row
            .File-content-Col.File-content-Row-num 12

        .File-content-Row
            .File-content-Col.File-content-Row-num 13
            .File-content-Col.File-content-Row-content HOME_DIR = os.Path.Expanduser('~')

        .File-content-Row
            .File-content-Col.File-content-Row-num 14

        .File-content-Row
            .File-content-Col.File-content-Row-num 15

        .File-content-Row
            .File-content-Col.File-content-Row-num 16
            .File-content-Col.File-content-Row-content                
                strong def 
                    span.Text.Text_color_accent_dark create_dirs
                | (path)

        .File-content-Row
            .File-content-Col.File-content-Row-num 17
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_1 
                strong try:

        .File-content-Row
            .File-content-Col.File-content-Row-num 18
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_2 os.Makedirs(path)

        .File-content-Row
            .File-content-Col.File-content-Row-num 19
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_1
                strong except 
                | OSError 
                strong as 
                | e: 

        .File-content-Row
            .File-content-Col.File-content-Row-num 20
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_2
                strong import 
                | errno 

        .File-content-Row
            .File-content-Col.File-content-Row-num 21

        .File-content-Row
            .File-content-Col.File-content-Row-num 22
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_2
                strong if 
                | e.Errno != errno.EEXIST 

        .File-content-Row
            .File-content-Col.File-content-Row-num 23
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_3
                strong raise

        .File-content-Row
            .File-content-Col.File-content-Row-num 24

        .File-content-Row
            .File-content-Col.File-content-Row-num 25
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_2
                strong return 
                | path

        .File-content-Row
            .File-content-Col.File-content-Row-num 26

        .File-content-Row
            .File-content-Col.File-content-Row-num 27

        .File-content-Row
            .File-content-Col.File-content-Row-num 28
            .File-content-Col.File-content-Row-content                
                strong def 
                    span.Text.Text_color_accent_dark misc_root
                | ():

        .File-content-Row
            .File-content-Col.File-content-Row-num 29
            .File-content-Col.File-content-Row-content.File-content-Col_p_l_1
                strong return 
                | create_dirs(os.Getenv('
                span.Text.Text_color_accent_dark 'YA_CACHE_DIR'
                | ')' 
                strong or 
                | os.Path.Join('HOME_DIR, 
                span.Text.Text_color_accent_dark '.Ya'
                | ))







