.file-content 
    .file-content__head
        .icon-plus
            .icon-plus__icon 
                svg.icon.icon_file
                    use(xlink:href="../images/icons-sprite.svg#file")
            .icon-plus__text.file-content__name ya.make 
        .file-content__size (4 347 bytes)
        .file-content__download
            svg.icon.icon_download
                use(xlink:href="../images/icons-sprite.svg#download")

    .file-content__content
        .file-content__row
            .file-content__col.file-content__row-num 1
            .file-content__col.file-content__row-content 
                span.text_comment #!/usr/bin/env python

        .file-content__row
            .file-content__col.file-content__row-num 2
            .file-content__col.file-content__row-content 
                strong import 
                | os

        .file-content__row
            .file-content__col.file-content__row-num 3
            .file-content__col.file-content__row-content
                strong import 
                | sys

        .file-content__row
            .file-content__col.file-content__row-num 4
            .file-content__col.file-content__row-content
                strong import 
                | platform

        .file-content__row
            .file-content__col.file-content__row-num 5
            .file-content__col.file-content__row-content
                strong import 
                | json

        .file-content__row
            .file-content__col.file-content__row-num 6

        .file-content__row
            .file-content__col.file-content__row-num 7
            .file-content__col.file-content__row-content
                | URLS = [ 
                span.link.link_color_accent_dark 'https://proxy.sandbox.yandex-team.ru/453818264'
                | , 
                span.link.link_color_accent_dark 'http://storage-int.mds.yandex.net/get-sandbox/110738/by_platform.json.453815347' 
                |  ]

        .file-content__row
            .file-content__col.file-content__row-num 8
            .file-content__col.file-content__row-content
                | MD5 =  
                span.link.link_color_accent_dark '7f5a85f9c28d35c3a76d8cea7af51106'

        .file-content__row
            .file-content__col.file-content__row-num 9

        .file-content__row
            .file-content__col.file-content__row-num 10
            .file-content__col.file-content__row-content RETRIES = 5

        .file-content__row
            .file-content__col.file-content__row-num 11
            .file-content__col.file-content__row-content HASH_PREFIX = 10

        .file-content__row
            .file-content__col.file-content__row-num 12

        .file-content__row
            .file-content__col.file-content__row-num 13
            .file-content__col.file-content__row-content HOME_DIR = os.path.expanduser('~')

        .file-content__row
            .file-content__col.file-content__row-num 14

        .file-content__row
            .file-content__col.file-content__row-num 15

        .file-content__row
            .file-content__col.file-content__row-num 16
            .file-content__col.file-content__row-content                
                strong def 
                    span.text.text_color_accent_dark create_dirs
                | (path)

        .file-content__row
            .file-content__col.file-content__row-num 17
            .file-content__col.file-content__row-content.file-content__col_p_l_1 
                strong try:

        .file-content__row
            .file-content__col.file-content__row-num 18
            .file-content__col.file-content__row-content.file-content__col_p_l_2 os.makedirs(path)

        .file-content__row
            .file-content__col.file-content__row-num 19
            .file-content__col.file-content__row-content.file-content__col_p_l_1
                strong except 
                | OSError 
                strong as 
                | e: 

        .file-content__row
            .file-content__col.file-content__row-num 20
            .file-content__col.file-content__row-content.file-content__col_p_l_2
                strong import 
                | errno 

        .file-content__row
            .file-content__col.file-content__row-num 21

        .file-content__row
            .file-content__col.file-content__row-num 22
            .file-content__col.file-content__row-content.file-content__col_p_l_2
                strong if 
                | e.errno != errno.EEXIST 

        .file-content__row
            .file-content__col.file-content__row-num 23
            .file-content__col.file-content__row-content.file-content__col_p_l_3
                strong raise

        .file-content__row
            .file-content__col.file-content__row-num 24

        .file-content__row
            .file-content__col.file-content__row-num 25
            .file-content__col.file-content__row-content.file-content__col_p_l_2
                strong return 
                | path

        .file-content__row
            .file-content__col.file-content__row-num 26

        .file-content__row
            .file-content__col.file-content__row-num 27

        .file-content__row
            .file-content__col.file-content__row-num 28
            .file-content__col.file-content__row-content                
                strong def 
                    span.text.text_color_accent_dark misc_root
                | ():

        .file-content__row
            .file-content__col.file-content__row-num 29
            .file-content__col.file-content__row-content.file-content__col_p_l_1
                strong return 
                | create_dirs(os.getenv('
                span.text.text_color_accent_dark 'YA_CACHE_DIR'
                | ')' 
                strong or 
                | os.path.join('HOME_DIR, 
                span.text.text_color_accent_dark '.ya'
                | ))







