.History      
    .History-Day 
        .History-Title Today        
        .Commit-sequence
            - for (var x = 0; x < 3; x++)
                .Commit-sequence-Commit
                    .Commit-sequence-Field.Commit-sequence-Icon
                        <svg class="Icon Icon_commit">
                            <use xlink:href="../images/icons-sprite.svg#commit"></use>
                        </svg>
                    .Commit-sequence-Field.Commit-sequence-Details
                        .Commit-sequence-Message Support new distbuild protocol
                        .Commit-sequence-Desc Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                        .Commit-sequence-Info
                            span.Link.Link_color_accent s324e8 
                            span.Link.Link_user.Commit-sequence-Committer annaveronika
                            span.Commit-sequence-Time 4 s ago
                    .Commit-sequence-Field.Commit-sequence-Hash
                        .Link.Link_color_accent s324e8
                    .Commit-sequence-Field.Commit-sequence-Edit-code
                        <svg class="Icon Icon_edit-code">
                            <use xlink:href="../images/icons-sprite.svg#edit-code"></use>
                        </svg>
        .History-Title Yesterday
        .Commit-sequence
            - for (var x = 0; x < 3; x++)
                .Commit-sequence-Commit
                    .Commit-sequence-Field.Commit-sequence-Icon
                        <svg class="Icon Icon_commit">
                            <use xlink:href="../images/icons-sprite.svg#commit"></use>
                        </svg>
                    .Commit-sequence-Field.Commit-sequence-Details
                        .Commit-sequence-Message Support new distbuild protocol
                        .Commit-sequence-Desc Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                        .Commit-sequence-Info
                            span.Link.Link_color_accent s324e8 
                            span.Link.Link_user.Commit-sequence-Committer annaveronika
                            span.Commit-sequence-Time 4 s ago
                    .Commit-sequence-Field.Commit-sequence-Hash
                        .Link.Link_color_accent s324e8
                    .Commit-sequence-Field.Commit-sequence-Edit-code
                        <svg class="Icon Icon_edit-code">
                            <use xlink:href="../images/icons-sprite.svg#edit-code"></use>
                        </svg>
        .History-Title Sept 18
        .Commit-sequence
            - for (var x = 0; x < 3; x++)
                .Commit-sequence-Commit
                    .Commit-sequence-Field.Commit-sequence-Icon
                        <svg class="Icon Icon_commit">
                            <use xlink:href="../images/icons-sprite.svg#commit"></use>
                        </svg>
                    .Commit-sequence-Field.Commit-sequence-Details
                        .Commit-sequence-Message Support new distbuild protocol
                        .Commit-sequence-Desc Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                        .Commit-sequence-Info
                            span.Link.Link_color_accent s324e8 
                            span.Link.Link_user.Commit-sequence-Committer annaveronika
                            span.Commit-sequence-Time 4 s ago
                    .Commit-sequence-Field.Commit-sequence-Hash
                        .Link.Link_color_accent s324e8
                    .Commit-sequence-Field.Commit-sequence-Edit-code
                        <svg class="Icon Icon_edit-code">
                            <use xlink:href="../images/icons-sprite.svg#edit-code"></use>
                        </svg>