.history      
    .history_day Today
        .content-table.commit-sequence
            .content-table__row.commit-sequence__commit
                .content-table__col.commit-sequence__icon
                    <svg class="icon icon_commit">
                        <use xlink:href="../images/icons-sprite.svg#commit"></use>
                    </svg>
                .content-table__col
                    .commit-sequence__details
                        .commit-sequence__message Support new distbuild protocol
                        .commit-sequence__desc Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.
                        .commit-sequence__info
                            span.link.link_color_accent s324e8 
                            span.link.link_user.commit-sequence__committer annaveronika
                            span.commit-sequence__time 4 s ago
                .content-table__col.commit-sequence__hash
                    .link.link_color_accent s324e8
                .content-table__col.content-table__col_last.commit-sequence__edit-code
                    <svg class="icon icon_edit-code">
                        <use xlink:href="../images/icons-sprite.svg#edit-code"></use>
                    </svg>