.inner-menu.inner-menu_trunk
    .inner-menu__head 
        .inner-menu__item
            .inner-menu__name Trunk
            .inner-menu__updated Last commit 4 s ago
    .inner-menu__content
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-43865
            .inner-menu__updated Last commit 1 min ago
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-94877
            .inner-menu__updated Last commit yesterday, 14:50
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-87450
            .inner-menu__updated Last commit on Jan 11, 12:01
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-27073
            .inner-menu__updated Last commit on Dec 29, 2017
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-43865
            .inner-menu__updated Last commit 1 min ago
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-94877
            .inner-menu__updated Last commit yesterday, 14:50
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-87450
            .inner-menu__updated Last commit on Jan 11, 12:01
        .inner-menu__item 
            .inner-menu__name users/rudskoy/DEVTOOLS-27073
            .inner-menu__updated Last commit on Dec 29, 2017
