.Inner-menu.Inner-menu_trunk
    .Inner-menu-Head 
        .Inner-menu-Item
            .Inner-menu-Name Trunk
            .Inner-menu-Updated Last commit 4 s ago
    .Inner-menu-Content
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-43865
            .Inner-menu-Updated Last commit 1 min ago
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-94877
            .Inner-menu-Updated Last commit yesterday, 14:50
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-87450
            .Inner-menu-Updated Last commit on Jan 11, 12:01
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-27073
            .Inner-menu-Updated Last commit on Dec 29, 2017
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-43865
            .Inner-menu-Updated Last commit 1 min ago
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-94877
            .Inner-menu-Updated Last commit yesterday, 14:50
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-87450
            .Inner-menu-Updated Last commit on Jan 11, 12:01
        .Inner-menu-Item 
            .Inner-menu-Name users/rudskoy/DEVTOOLS-27073
            .Inner-menu-Updated Last commit on Dec 29, 2017
