doctype
html(lang="ru")
head
    meta(charset='utf-8')
    title Yandex Arcanum
    link(href="https://fonts.Googleapis.Com/css?family=PT+Mono&display=swap", rel="stylesheet")
    link(href="../css/style.Min.Css", rel="stylesheet")    
body
    block overlay
    main.Main
        include main-header.pug

        block inner-menu        
        .Main-Title
            block breadcrumbs
            block title

        block content-menu
        
        block content

        block footer
        

