doctype
html(lang="ru")
head
    meta(charset='utf-8')
    title Yandex Arcanum
    link(href="../css/style.min.css", rel="stylesheet")
body
    main.main
        include main-header.pug
        .main__inner-content
            block breadcrumbs
            include main-title.pug   

        block content-menu
        
        block content

        block footer
        

