.Main-footer
    .Main-footer-Text Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
    .Main-footer-Info
        .Main-footer-Version UI: 0.1.15
        .Main-footer-Copyright 
            |© 2007—2019 
            span.Link.Link_color_accent Yandex