.Main-title
    .Main-title-Wrapper
        .Main-title-Title
            span.Main-header-Name arcadia 
            span.Dropdown.Main-header-List trunk
        .Main-title-Last-commit Last commit 
            span.Link.Link_color_accent c4d248 
            | on 
            span.Link.Link_color_accent 20 Oct 2017, 12:24 
            | by 
            span.Link.Link_user robot-search-releaser
