.main-title
    .main-title__title
        span.main-title__name arcadia 
        span.dropdown.main-title__list trunk
    .main-title__last-commit Last commit 
        span.link.link_color_accent c4d248 
        | on 
        span.link.link_color_accent 20 Oct 2017, 12:24 
        | by 
        span.link.link_user robot-search-releaser
