.Main-header
    .Main-header-Wrapper
        svg.Logo.Main-header-Logo
            use(xlink:href="../images/icons-sprite.svg#logo")
        .Main-menu.Main-header-Menu 
            .Overlay
            .Main-menu-Item.Main-menu-Item_state_active Repository Arc 
            .Inner-menu.Main-menu-Inner-menu
                .Inner-menu-Wrapper
                    .Inner-menu-Content
                        .Inner-menu-Item Arc
                        .Inner-menu-Item My repository
                        .Inner-menu-Item Devtools-team repository


