.Main-title
    .Main-title-Wrapper    
        .Main-title-Title
            .Main-title-Name arcadia 
            .Dropdown
                .Dropdown-Name.Dropdown-Name_state_active trunk
                .Inner-menu.Dropdown-Inner-menu
                    .Inner-menu-Wrapper
                        .Inner-menu-Head 
                            .Inner-menu-Item
                                .Inner-menu-Name Trunk
                                .Inner-menu-Updated Last commit 4 s ago
                        .Inner-menu-Content
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-43865
                                .Inner-menu-Updated Last commit 1 min ago
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-94877
                                .Inner-menu-Updated Last commit yesterday, 14:50
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-87450
                                .Inner-menu-Updated Last commit on Jan 11, 12:01
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-27073
                                .Inner-menu-Updated Last commit on Dec 29, 2017
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-43865
                                .Inner-menu-Updated Last commit 1 min ago
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-94877
                                .Inner-menu-Updated Last commit yesterday, 14:50
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-87450
                                .Inner-menu-Updated Last commit on Jan 11, 12:01
                            .Inner-menu-Item 
                                .Inner-menu-Name users/rudskoy/DEVTOOLS-27073
                                .Inner-menu-Updated Last commit on Dec 29, 2017
        .Main-title-Last-commit Last commit 
            span.Link.Link_color_accent c4d248 
            | on 
            span.Link.Link_color_accent 20 Oct 2017, 12:24 
            | by 
            span.Link.Link_user robot-search-releaser
        
