.main-title
    .main-title__title
    .main-title__last-commit Last commit 
        span.commit-hash.text_color_accent c4d248 
        | on   
        span.text_color_accent 20 Oct 2017, 12:24 
        | by 
        span.text_letter_accent robot-search-releaser