.main-footer
    .main-footer__text Trade secrets of Yandex LLC. 16, Lev Tolstoy Str., Moscow, Russia, 119021
    .main-footer__info
        .main-footer__version UI: 0.1.15
        .main-footer__copyright 
            |© 2007—2019 
            span.link.link_color_accent Yandex