.main-header.main-header_state_active
    svg.logo.main-header__logo
        use(xlink:href="../images/icons-sprite.svg#logo")
    .main-menu.main-header__menu 
        .main-menu__item.main-menu__item_state_active Repository Arc 



