.File-content 
    .File-content-Head
        .Icon-plus
            .Icon-plus-Icon 
                svg.Icon.Icon_file
                    use(xlink:href="images/icons-sprite.svg#file")
            .Icon-plus-Text.File-content-Name README.Md 

    .File-content-Content.File-content-Content_text-file
        h2 Плагины и конфиги комбайна

        p.Text Плагины - статически собираются в образ, любая модификация требует пересборки образа и перевыкатки сервиса. Перед перевыкаткой нужно не забыть поменять layers на новый, версию предыдущего layer можно посмотреть в сервисе. https://nanny.Yandex-team.Ru/ui/#/services/dashboards/catalog/combaine/

        p.Text Конфиги - деплоятся динамически через deploy-configs.Py, который запускается по крону на всех комбайнах. Скрипт generator.Py и deploy-configs.Py деплоятся динамически вместе с конфигами. Каталог configs poll-ится на измененние svn ревизии раз в минуту, поэтому задержка деплоя конфигов в комбайн должна быть не больше минуты с момента мерджа в транк.
    
        







