.main-footer {
    display: none;
}

@media screen and (min-width: $desktop-width) {
    .main-footer {
        display: flex;
        padding: 18px 20px 14px; 
        font-size: var(--text-size-s);
        line-height: var(--line-height-s);
        color: var(--color-inactive);


        &__info {
            display: flex;
            margin-left: auto;
        }

        &__version {
            margin-right: 32px;
        }
    }
}