@import "./../../mixins.css";

.Main-footer {
    display: none;
}

@media screen and (min-width: $desktop-width) {
    .Main-footer {
        display: flex;
        width: 100%;
        padding: 18px 20px 14px; 
        font-size: var(--text-size-s);
        line-height: var(--line-height-s);
        color: var(--color-inactive);

        @mixin container;


        &-Info {
            display: flex;
            margin-left: auto;
        }

        &-Version {
            margin-right: 32px;
        }
    }
}