@import "./../../mixins.css";

.Main-menu {
    box-sizing: border-box;

    &-Item {
        font-weight: bold;
        cursor: pointer;

        @mixin menuItemAfter;
        @mixin menuItemBorder 100%, 3px, 0, -21px;
    } 
    
}

