@import "./../../mixins.css";

.main-menu {
    box-sizing: border-box;

    &__item {
        font-weight: bold;
        cursor: pointer;

        @mixin menuItemAfter;
        @mixin menuItemBorder 100%, 3px, 0, -21px;
    } 
    
}

