.Commit-sequence {
    display: table;
    width: 100%;
    font-size: var(--text-size-base);
    line-height: var(--line-height-base);

    &-Commit {
        position: relative;
        display: table-row; 
        box-sizing: border-box;       
    }

    &-Field {
        display: table-cell;
        padding-bottom: 14px;
        vertical-align: top;
    }

    &-Icon {
        position: relative;
        padding-right: 12px;

        &:before {
            content: "";
            position: absolute;
            top: 20px;
            bottom: 0;
            left: 20px;
            display: block;
            width: 2px;
            height: 100%;
            background-color: var(--color-faded);
        }


        &:last-child:before {
            display: none;
        }
    }    

    &-Commit:last-child .Commit-sequence-Icon:before {
        display: none;
    }    

    &-Committer {
        &:before {
            content: "by\00a0"
        }
    
        &:after {
            content: ",\00a0"
        }
    }

    &-Message {
        padding-right: 25px;
        font-weight: bold;
        box-sizing: border-box;
    }

    &-Hash {
        display: none;
    }

    &-Edit-code {
        position: absolute;
        right: 17px;
        text-align: right;
        cursor: pointer;
    }
}

@media screen and (min-width: $desktop-width) {

    .Commit-sequence {
        &-Hash {
            display: table-cell;
        }

        &-Edit-code {
            position: relative;
            right: initial;
        }

    }

}