.Icon {
    margin-right: 8px; 
    
    &_folder {
        width: 12px;
        height: 9px;        
    }

    &_branch {
        width: 13px;
        height: 10px;
    }

    &_commit {
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 0;
        z-index: 10;
    }

    &_edit-code {
        width: 17px;
        height: 15px;
    }

    &_file {
        width: 9px;
        height: 13px;
        fill: black;
    }

    &_download {
        width: 14px;
        height: 13px;
        margin: 0;
    }

    &_hamburger {
        width: 12px;
        height: 10px;
        margin-right: 0;
    }

    &_faded {
        fill: #B8BEC3;
    }    
    
}