body {
    margin: 0;
    padding: 0;
}

.main {
    --color-primary: #FF4F49;
    --color-accent: #1774E9;
    --color-accent-secondary: #005FBA;
    --color-info: #F1F8FF;
    --color-inactive: #7F8285;
    --color-faded: #B8BEC3;
    --color-table-head: #F5F5F5;
    --color-btn: #E6E6E6;    

    --color-text-primary: #000000;
    --color-text-secondary: #00234B;  
    --color-text-lighter: #434445;
    --color-text-faded: #999;
    --color-text-comment: #8694A2;
    --color-text-added: #19BC4D;
    --color-text-deleted: #FF3029;
    --color-text-message: #6B69C7;

    --color-main-border: #979797;
    --color-light-border: #F2F2F2;
    --color-table-border: #E5E5E5;

    --font-base: arial, serif;

    --text-size-base: 14px;
    --text-size-xs: 12px;
    --text-size-s: 13px;
    --text-size-m: 16px;
    --text-size-l: 18px;
    --text-size-xl: 20px;
    --text-size-xxl: 24px;

    --line-height-base: 20px;
    --line-height-s: 18px;
    --line-height-l: 28px;

    --padding-base: 32px;

    min-width: $mobile-width;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-base);
    font-size: var(--text-size-base);
    line-height: var(--line-height-base);
    box-sizing: border-box;

    &__inner-content {
        padding-right: 16px;
        padding-left: 16px;
    }

    &__inner-content_p_t {
        padding-top: 16px;
    }

    &__inner-content_width_full {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: $desktop-width) {
    .main {
        &__inner-content {
            padding-right: 32px;
            padding-left: 32px;
        }

        &__inner-content_width_full {
            padding-right: 32px;
            padding-left: 32px;
        }
    }
}
