.Info-panel {
    position: relative;
    display: flex;
    padding: 7px 12px;
    font-family: var(--font-mono);
    font-size: var(--text-size-xs);
    color: var(--color-text-faded);
    background-color: var(--color-info);
    border-bottom: 1px solid var(--color-table-border);
    box-sizing: border-box;

    &-Scroll {
        display: none;             
    }

    &-Text {
        display: flex;
    }

    &-Text-item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &_bottom {
        position: sticky;
        bottom: 0;
    }
}


@media(min-width: $desktop-width) {
    .Info-panel {
        &-Scroll {
            position: absolute;
            left: 50%;        
            display: flex;
            transform: translateX(-50%);                
        } 
    }
}