.link {
    cursor: pointer;

    &_state_active {
        font-weight: bold;
    }

    &_color_accent {
        color: var(--color-accent);
    }

    &_color_accent_dark {
        color: var(--color-accent-secondary);
    }    

    &_user {
        display: inline-block;
    }

    &_user:first-letter {
        color: var(--color-primary);
    }     
}