.Content-table {
    width: 100%;
    font-size: var(--text-size-base);
    line-height: var(--line-height-base);    

    &-Row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 12px 30px 0 0;
        border-bottom: 1px solid var(--color-light-border);        
    }

    &-Row:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        display: block;
        width: 10px;
        height: 10px;            
        border-top: 2px solid var(--color-light-border);
        border-left: 2px solid var(--color-light-border);
        transform: translateY(-50%) rotate(135deg);       
    }    

    &-Head {
        display: none;
        color: var(--color-faded);
    }

    &-Col {
        margin-bottom: 10px;        
    }

    &-Col_name {
        width: 100%;
        order: 1;
        cursor: pointer;
    }

    &-Col_name:hover {
        color: var(--color-primary);

        .Icon {
            fill: var(--color-primary);
        }
    }

    &-Col_message {
        width: 100%;
        order: 2;
    }

    &-Col_commit {
        margin-right: 8px;
        order: 3;
    }

    &-Col_committer {
        order: 4;

        &:before {
            content: "by\00a0"
        }

        &:after {
            content: ",\00a0"
        }
    }    

    &-Col_last {
        order: 100;
        text-align: right;
    }

}

@media screen and (min-width: $desktop-width) {
    .Content-table {
        display: table;

        &-Head {
            display: table-row;
            color: var(--color-faded);
        }

        &-Row {
            display: table-row;
            padding: 0;
        }

        &-Row:after {
            display: none;     
        }    
    

        &-Col {
            display: table-cell;
            margin-bottom: 0;
            padding: 16px 0 8px;
            border-bottom: 1px solid var(--color-light-border);
            vertical-align: middle;
        }

        &-Col_name {
            width: auto;
        }

        &-Col_message {
            width: auto;
        }

        &-Col_committer {
    
            &:before {
                display: none
            }
    
            &:after {
                display: none
            }
        }   
    }

}