extends ../templates/layout.pug

block content-menu
    include ../templates/content-menu_files.pug

block content  
    include ../templates/content_files.pug

block footer
    include ../templates/main-footer.pug
    
    
