extends ../templates/layout.pug

block main-header
    include ../templates/main-header_with-inner.pug

block breadcrumbs 
    include ../templates/breadcrumbs.pug

block title
    include ../templates/main-title.pug 

block content-menu
    include ../templates/content-menu_files.pug

block content  
    .Main-Inner-content
        include ../templates/content_files.pug

block footer
    include ../templates/main-footer.pug
    
    
