extends ../templates/layout.pug

block overlay
    .overlay

block breadcrumbs 
    include ../templates/breadcrumbs.pug

block main-header
    include ../templates/main-header_active.pug

block inner-menu
    include ../templates/inner-menu_main-menu.pug

block title
    include ../templates/main-title.pug 

block content-menu
    include ../templates/content-menu_files.pug

block content  
    .main__inner-content
        include ../templates/content_files.pug

block footer
    include ../templates/main-footer.pug
    
    
