extends ../templates/layout.pug

block overlay
    .overlay

block breadcrumbs 
    include ../templates/breadcrumbs.pug

block inner-menu
    include ../templates/inner-menu_trunk.pug

block title
    include ../templates/main-title.pug 

block content-menu
    include ../templates/content-menu_files.pug

block content  
    .Main-Inner-content
        include ../templates/content_files.pug

block footer
    include ../templates/main-footer.pug
    
    
