extends ../templates/layout.pug

block breadcrumbs 
    include ../templates/breadcrumbs_detailed.pug

block title
    include ../templates/main-title.pug 

block content-menu
    include ../templates/content-menu_files.pug

block content  
    .Main-Inner-content
        include ../templates/content_files.pug
    .Main-Inner-content.Main-Inner-content_sticky.Main-Inner-content_p_t.Main-Inner-content_width_full
        include ../templates/readme.pug

    
    
