extends ../templates/layout.pug

block main-header
    include ../templates/main-header.pug

block breadcrumbs 
    include ../templates/breadcrumbs.pug

block title
    include ../templates/main-title.pug 

block content-menu
    include ../templates/content-menu_branch.pug

block content  
    .Main-Inner-content
        include ../templates/content_branches.pug
