extends ../templates/layout.pug

block title
    include ../templates/commit-title.pug 

block content 
    .Main-Inner-content.Main-Inner-content_p_t.Main-Inner-content_width_full
        include ../templates/commit-content.pug