extends ../templates/layout.pug

block title
    include ../templates/commit-title.pug 

block content-menu
    include ../templates/content-menu_details.pug 

block content 
    .main__inner-content.main__inner-content_p_t.main__inner-content_width_full
        include ../templates/file-content.pug