.Show {
    display: flex;
    padding: 6px 12px;
    background: var(--color-btn);
    border-radius: 4px;
    cursor: pointer;

    &-Icon {
        margin-right: 6px;
    }

    &:hover {
        background: var(--color-info);
     }
}

