.Commit-content {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-sizing: border-box;

    &-Main {
        display: flex;
        width: 100%;
    }

    &-Head {
        flex-wrap: wrap;        
    }

    &-Letter {
        flex-shrink: 0;
        width: 26px;
        color: var(--color-text-message)
    }

    &-File-path {
        overflow: hidden;
    }

    &-Path {
        margin-right: 20px;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-Add-num {
        margin-right: 16px;
        color: var(--color-text-added)
    }

    &-Del-num {
        margin-right: 24px;
        color: var(--color-text-deleted)
    }

    &-Details {
        display: flex;
        width: 100%;
       
    }

    &-Gow-to {
        margin-left: auto;
        cursor: pointer;
    }

    &_color_added {
        background: var(--color-bg-added)
    }

    &_color_deleted {
        background: var(--color-bg-deleted)
    }
}


@media(min-width: $desktop-width) {
    .Commit-content{

        &-Main {
            width: auto;
        }

        &-Details {
            width: auto;
            margin-left: auto;
        }     
        
        &-Gow-to {            
            margin-left: 0;
        }
    }
}