.commit-content {

    border-radius: 4px;

    &__main {
        display: flex;
        width: 100%;
    }

    &__head {
        flex-wrap: wrap;        
    }

    &__letter {
        flex-shrink: 0;
        width: 26px;
        color: var(--color-text-message)
    }

    &__file-path {
        overflow: hidden;
    }

    &__path {
        margin-right: 20px;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__add-num {
        margin-right: 16px;
        color: var(--color-text-added)
    }

    &__del-num {
        margin-right: 24px;
        color: var(--color-text-deleted)
    }

    &__details {
        display: flex;
        width: 100%;
       
    }

    &__gow-to {
        margin-left: auto;
        cursor: pointer;
    }

    &_color_added {
        background: var(--color-bg-added)
    }

    &_color_deleted {
        background: var(--color-bg-deleted)
    }
}


@media(min-width: $desktop-width) {
    .commit-content{

        &__main {
            width: auto;
        }

        &__details {
            width: auto;
            margin-left: auto;
        }     
        
        &__gow-to {            
            margin-left: 0;
        }
    }
}