.main-title {
    padding-top: 10px;
    font-size: var(--text-size-xl);
    line-height: var(--line-height-l);

    &__title {
        margin-bottom: 10px;
    }

    &__name {       
       font-weight: bold;
    }

    &__last-commit {
        font-size: var(--text-size-s);
    }
}
