@import "./../../mixins.css";

.Main-title {
    padding-top: 10px;    
    line-height: var(--line-height-base);
    box-sizing: border-box;

    &-Additional {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 12px;
        font-size: var(--text-size-s);
    }

    &-Title {
        margin-bottom: 10px;
    }

    &-Commit-title {
        margin-bottom: 5px;
        font-size: var(--text-size-xl);
        line-height: var(--line-height-l);        
        font-weight: bold;
    }

    &-Commit-info {
        font-size: var(--text-size-base);
        color: var(--color-text-lighter);
    }

    &-Name {
        display: inline-block;
        font-size: var(--text-size-xl);       
        
        
        font-weight: bold;
    }

    &-Last-commit {
        font-size: var(--text-size-base);
    }

    &_commit {
        padding-top: 8px;
    }
}


@media(min-width: $desktop-width) {
    .Main-title {
        &-Main {
            flex-shrink: 0;
        }

        &-Additional {
            align-items: flex-start;
            order: 2;            
            margin-left: auto;
            width: auto;
        }

        &_commit {
            display: flex;
            width: 100%;
            padding-top: 16px;
        }

        &-Commit-title {
            font-size: var(--text-size-xxl);
        }

        &-Commit-info {
            font-size: var(--text-size-m);
        }
        
        &-Back {
            display: none;
        }
    }
}